.plusButton {
  font-size: 4vh;
  position: fixed;
  right: 1vw;
  bottom: 1vh;
  z-index: 1030;
  width: auto;
  height: 8vh;
}

.trash:hover {
  color: red;
}

.mainContainer {
  height: 98vh;
}

.pencil:hover {
  color: orange;
}

/* Global */
.vheight-100 {
  min-height: 100vh;
}

.below-nav {
  padding-top: 5rem;
}

/* Filters and projects */
/*
.list-group-item {
  background-color: transparent !important;
}
*/

.list-group-item.active {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.list-group-item-action:hover {
  background-color: #9becae !important;
}

.projects-title {
  margin-top: 2rem;
}

/* Class for important tasks */
.important {
  color: red;
}

/* Add task button */
.fixed-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1030;
  margin: 0 1.5rem 1.5rem 0;
  border-radius: 50%;
}

.sidebar-left-padding {
  padding-left: 2rem;
}

#loading {
  padding-top: 6rem;
  padding-left: 2rem;
}

